:root {
    --bg: #0b1020;
    --nav: #10172a;
    --hero: #0b1020;
    --card: #151b2e;
    --text: #ffffff;
    --muted: #cbd5e1;
    --primary: #4f8cff;
    --secondary: #00d4ff;
}


.light-mode {
    --bg: #e9eff7;
    --nav: #d5e1ef;
    --hero: #e1eaf5;
    --card: #d7e3f0;
    --text: #172033;
    --muted: #475569;
    --primary: #103ea1;
    --secondary: #103ea1;
}


body {
    transition: 0.3s;
}


.nav-link {
    color: var(--text);
    text-decoration: none;
    transition: 0.3s;
}


.nav-link:hover {
    color: var(--secondary);
}